* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body {
    background-color: black;

}

#heading {
    color: white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    height: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Container_wheather {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70%;
    width: 50%;
    margin-top: 50px;

}

section {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    background-image: url('Image/rainy-pictures-cfvnyn34l23ggvq1.jpg');
    background-size: cover;
    height: 70%;
}

.wheather {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;

}

.day {
    font-size: smaller;
    width: auto;
}

.temp {
    margin: 20px;
    font-size: larger;

}

footer {
    height: 30%px;
    padding: 1rem 0;
    bottom: 0px;
    width: 100%;
    background-color: rgba(180, 177, 177, 0.202);
    display: flex;
    justify-content: center;
    align-items: center;
}



.searchField {
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid white;
    width: 79%;
}

button {

    background-color: rgb(20, 93, 68);
    font-size: 1.1rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5%;
    width: 5rem;
    height: 5rem;
}

.condition {
    display: flex;
    font-size: large;
    height: 5rem;
    width: auto;
    align-items: center;
    justify-content: center;

}

img {
    height: 5rem;
    width: 5rem;
}

.lstupdate {
    text-align: right;
    margin-left: 20px;


}